.view-title {
	position: relative;
	display: block;
	font-size: 25px;
	border-bottom: 1px solid #d2d2d2;
	margin: 0px;
	color: #0d0f3b;
	font-weight: 100;
	padding: 0px 0px 10px;
	line-height: 40px;
	margin-bottom: 20px;
}

.view-info-group {
	position: relative;
	display: block;
	/*border-bottom: 1px solid #d2d2d2;*/
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.view-info-table {
	width: 100%;
	border-left: 3px solid #0d0f3b;
}

.view-info-table td {
	/*padding: 10px;*/
	font-size: 14px;
	color: #0d0f3b;
}

.view-info-table td:first-child {
	width: 150px;
	padding-left: 15px;
}

td.view-info-mid {
	width: 10px;
}

.view-detail-table {
	position: relative;
	width: 100%;
}

.view-detail-table td {
	vertical-align: baseline;
	padding: 8px 10px;
	font-size: 14px;
}

.view-detail-table td:first-child {
	padding-left: 0px;
	width: 200px;
}

.view-detail-table td:last-child {
	padding-left: 0px;
}

.view-item-content {
	padding: 20px 0px 0px;
	font-size: 14px;
}

.view-button-group {
	position: relative;
	display: block;
	margin-bottom: 20px;
	font-size: 0px;
}

.view-button-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	background: #f7961f;
	padding: 0px 15px;
	margin-right: 5px;
	font-size: 14px;
	line-height: 40px;
	color: #fff;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.view-button-item:hover {
	background: #0d0f3b;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.view-button-back:before {
	content: '';
	position: absolute;
	height: 6px;
	width: 6px;
	left: 13px;
	top: 17px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.view-button-edit {
	position: absolute;
	right: 0px;
	margin-right: 0px;
	padding-left: 40px;
}

.view-button-edit:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 20px;
	left: 10px;
	background: url('../../img/admin/index/edit_icon.png') no-repeat;
	background-size: auto 17px !important;
	background-position: 50% !important;
}

.view-photo {
	position: relative;
	display: block;
	max-width: 400px;
	max-height: 200px;
	margin-bottom: 30px;
}

.view-last-edit {
	position: relative;
	display: block;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #f7961f;
}

.view-last-edit-group {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.view-last-edit-group:last-child {
	margin-bottom: 0px;
}

.view-last-edit-title {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #f7961f;
	margin-bottom: 5px;
}

.view-last-edit-item {
	position: relative;
	display: block;
	font-size: 12px;
}

.view-last-edit-item span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	color: #0d0f3b;
}

.view-last-edit-item span:first-child {
	width: 90px;
}

.view-last-edit-item span:last-child {
	color: #f7961f
}


/* Desktops and laptops */
@media screen and (min-width : 1224px) {

}

/* Tablet */
@media screen and (max-width: 1024px) {
	
}

/* Mobile */
@media screen and (max-width: 768px) {
	
}

@media screen and (max-width : 500px) {
	.view-detail-table td {
		position: relative !important;
		display: block !important;
		width: 100% !important;
	}

	.view-detail-table td.view-info-mid {
		display: none !important;
	}

	.view-detail-table td:first-child {
		padding-bottom: 0px;
		font-weight: 600;
	}

	.view-detail-table td:last-child {
		/*padding-top: 0px;*/
	}

	.view-last-edit-item span {
		display: block;
		position: relative;
	}

	.view-last-edit-item span:nth-child(2) {
		display: none;
	}

	.view-last-edit-item span:last-child {
		padding-bottom: 5px;
	}

	.view-title {
		padding-top: 45px;
	}

	.view-title a {
		position: absolute;
		top: 0px;
	}

	.view-title a:last-child {
		right: auto;
		left: 35px;
	}
}