.edit-item-content {
	padding: 20px 0px;
}

.edit-form-group {
	position: relative;
	display: block;
	font-size: 0px;
	margin-bottom: 15px;
}

.edit-form-group:last-child {
	margin-bottom: 0px;
}

.edit-form-label {
	position: relative;
	display: block;
	font-size: 14px;
	width: 150px;
	color: #0d0f3b;
	margin-bottom: 5px;
}

.edit-form-text {
	position: relative;
	display: block;
	font-size: 14px;
	width: 100%;
	height: 40px;
	padding: 0px 10px;
	border: 1px solid #d2d2d2;
	color: #0d0f3b;
	margin-right: 10px;
	background: #fff;
	cursor: text !important;
}

.edit-form-text:focus {
	border: 1px solid #f7961f !important;
}

.edit-form-note {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	width: 150px;
	color: #a1a1a1;
	padding: 5px 0px 0px;
}

.edit-form-note-custom {
	position: relative;
	display: block;
	margin-left: 160px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 14px;
	color: #0d0f3b;
}

.edit-form-image {
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width: 150px;
}

.edit-form-image-loading {
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background: #535353;
	color: #fff;
	font-size: 14px;
	border: 0px;
}

.edit-form-image-success {
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	background: green;
	color: #fff;
	font-size: 14px;
	border: 0px;
}

.edit-form-image-delete {
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	background: #0d0f3b;
	color: #fff;
	border: 0px;
	font-size: 14px;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-form-image-delete:hover {
	background: red !important;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-form-image img {
	position: relative;
	display: block;
	max-height: 150px;
}

.col-1 > .edit-item-content .edit-form-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 150px;
	color: #0d0f3b;
	margin-right: 10px;
	top: 10px;
}

.col-1 > .edit-item-content .edit-form-text {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	height: 40px;
	padding: 0px 10px;
	border: 1px solid #d2d2d2;
	color: #0d0f3b;
	margin-right: 10px;
	width: calc(100% - 200px);
}

.col-1 > .edit-item-content .select2-container {
	margin-right: 10px !important;
}

.col-1 > .edit-item-content .edit-form-note {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	/*width: 150px;*/
	width: calc(100% - 620px);
	color: #d2d2d2;
	padding: 0px;
}

.col-1 > .edit-item-content .edit-form-text.large {
	max-width: 450px;
}

.col-1 > .edit-item-content .edit-form-text.medium {
	max-width: 350px;
}

.col-1 > .edit-item-content .edit-form-text.small {
	max-width: 250px;
}

.col-1 > .edit-item-content .large-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(450px - 50px);
}

.col-1 > .edit-item-content .medium-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(350px - 50px);
}

.col-1 > .edit-item-content .small-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(250px - 50px);
}

.large-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(100% - 50px);
	margin-right: 0px !important;
}

.medium-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(100% - 50px);
	margin-right: 0px !important;
	/*max-width: calc(350px - 50px);*/
}

.small-prepend {
	position: relative;
	display: inline-block;
	vertical-align: top;
	max-width: calc(100% - 50px);
	margin-right: 0px !important;
	/*max-width: calc(250px - 50px);*/
}

.col-1 > .edit-item-content .prepend-group {
	display: inline-block;
	vertical-align: top;
}

.col-1 > .edit-item-content .prepend-group.large {
	max-width: 450px;
}

.col-1 > .edit-item-content .prepend-group.medium {
	max-width: 350px;
}

.col-1 > .edit-item-content .prepend-group.small {
	max-width: 250px;
}

.prepend-group {
	position: relative;
	display: block;
	font-size: 0px;
	margin-right: 10px;
	width: 100%;
}

.prepend-group .edit-form-text {
	width: calc(100% - 50px) !important;
}

.prepend-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 40px;
	background: #f7961f;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}

.col-1 > .edit-item-content .cke_chrome {
	display: inline-block;
	max-width: calc(100% - 200px)
}

.col-1 > .edit-item-content .edit-form-image {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 150px;
}

.col-1 > .edit-item-content .edit-form-image-delete {
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	background: #0d0f3b;
	color: #fff;
	border: 0px;
	font-size: 14px;
}

.col-1 > .edit-item-content .edit-form-image img {
	position: relative;
	display: block;
	max-height: 150px;
}

.edit-form-text.medium {
	/*max-width: 350px;*/
}

.edit-form-text.small {
	/*max-width: 250px;*/
}

.edit-button-group {
	position: relative;
	display: block;
	font-size: 0px;
}

.edit-button-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 150px;
	max-width: calc(50% - 5px);
	border: 0px;
	height: 40px;
	background: #0d0f3b;
	color: #fff;
	font-size: 14px;
	margin-right: 10px;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-button-item:last-child {
	margin-right: 0px;
}

.edit-button-item:hover {
	background: #f7961f;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-button-back {
	background: #f7961f;
	color: #fff;
	font-size: 14px;
	padding-left: 30px;
	width: auto;
	padding-right: 15px;
	line-height: 40px;
	height: 40px;
	margin-bottom: 20px;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-button-back:hover {
	background: #0d0f3b;

	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-ms-transition: background 0.4s;
	transition: background 0.4s;
}

.edit-button-back:before {
	content: '';
	position: absolute;
	height: 6px;
	width: 6px;
	left: 15px;
	top: 17px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.reset {
	background: red !important;
}

.area {
	resize: none;
	height: 150px !important;
	padding: 10px !important;
	font-size: 14px;
}

textarea.area:focus {
	border: 1px solid #f7961f !important;
	outline: 0px;
}

input.edit-form-text {
	/*border: 0px;*/
	padding: 7px 10px;
	cursor: pointer;
}

.edit-form-radio-group {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
}

.edit-form-radio-item {
	position: relative;
	display: block;
	font-size: 0px;
	margin-bottom: 5px;
}

.edit-form-radio {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	top: 2px;
}

.edit-form-radio-label {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #0d0f3b;
}

.edit-form-text.image {
	display: inline-block !important;
	vertical-align: top;
	width: auto;
	padding: 7px 10px !important;
	/*width: calc(100% - 160px);*/
	max-width: 100%;
	/*margin-right: 0px;*/
}

.col-1 > .edit-item-content .edit-form-text.image {
	width: auto;
}

.page-item-error-container {
	position: relative;
	display: block;
}

.page-item-error-item {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: red;
	padding-left: 40px;
	border-left: 1px solid red;
	border-right: 1px solid red;
}

.page-item-error-item:before {
	content: '';
	position: absolute;
	left: 25px;
	top: 10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: red;
}

.page-item-error-item:first-child {
	/*margin-bottom: 30px;*/
	padding-top: 15px;
	border-top: 1px solid red;
}

.page-item-error-item:first-child:before {
	top: 25px;
}

.page-item-error-item:last-child {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid red;
}



.edit-last-edit {
	position: relative;
	display: block;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #f7961f;
}

.edit-last-edit-group {
	position: relative;
	display: block;
	margin-bottom: 20px;
}

.edit-last-edit-group:last-child {
	margin-bottom: 0px;
}

.edit-last-edit-lastitle {
	position: relative;
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #f7961f;
	margin-bottom: 5px;
}

.edit-last-edit-item {
	position: relative;
	display: block;
	font-size: 12px;
}

.edit-last-edit-item span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
	color: #0d0f3b;
}

.edit-last-edit-item span:first-child {
	width: 90px;
}

.edit-last-edit-item span:last-child {
	color: #f7961f
}



/* Desktops and laptops */
@media screen and (min-width : 1224px) {

}

/* Tablet */
@media screen and (max-width: 1024px) {
	.col-1 > .edit-item-content .prepend-group {
		max-width: 350px !important;
	}

	.col-1 > .edit-item-content .edit-form-text {
		max-width: 350px !important;
	}

	.col-1 > .edit-item-content .edit-form-note {
		width: calc(100% - 520px)
	}
}

/* Mobile */
@media screen and (max-width: 768px) {
	.edit-form-label {
		position: relative !important;
		display: block !important;
		top: 0px !important;
	}

	.col-1 > .edit-item-content .edit-form-text {
		max-width: none !important;
		width: 100%;
	}

	.col-1 > .edit-item-content .cke_chrome {
		display: block !important;
		width: 100% !important;
		max-width: none !important;
	}

	.col-1 > .edit-item-content .edit-form-note {
		width: 100%;
		padding-top: 5px;
	}
}

@media screen and (max-width : 500px) {
	.edit-last-edit-item span {
		display: block;
		position: relative;
	}

	.edit-last-edit-item span:nth-child(2) {
		display: none;
	}

	.edit-last-edit-item span:last-child {
		padding-bottom: 5px;
	}
}